
 <div class="header">
  
    <!--Content before waves-->
    <div class="inner-header flex">
     
    <!--Just the logo.. Don't mind this-->
    <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
    <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
    
    
    <g><path fill="#fff"
    d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
    C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
    c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
    </g>
    </svg>
    
    
    <h1>Welcome to CRYSTAL Finance Ltd </h1>
   
    <!-- <nav>
      <mat-icon svgIcon="unicorn"></mat-icon>
    </nav> -->
    <!-- <img src ="../../../assets/parms-finance-ltd-logo.png" width="1000px" height="500px" >  -->
    </div>
    <!-- <h1 style="font-size: 60px;">Make your dream car a reality</h1> -->
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="content flex">
      <p></p>
    </div>

    <!-- <div>
      <h1 style="text-align: center;"> Features And Benefits</h1><br>
       <h4 style="margin: 20px 20px 20px 30px;font-size: 20px;">With cost-effective benefits so that your dreams come true today. We offer customized Car Loans on all the brands like Mahindra, Hyundai, TATA Motors, Maruti Suzuki, Renault, and Nissan amongst others.</h4>
    </div>

    <div class="row">
      <div class="col" style="width:30%">
        <img src="https://www.mahindrafinance.com/images/MFcarloan/features1.svg" alt="logo"><br><br>
         <h2>Easy Loan application Process</h2>

         
      </div>
      <div class="col">
          <img src="https://www.mahindrafinance.com/images/MFcarloan/features2.svg" alt="logo"><br><br>
           <div>Minimul Documentation</div>
      </div>
      <div class="col">
       
          <img src="https://www.mahindrafinance.com/images/MFcarloan/features3.svg" alt="logo"><br><br>
           <div>Attractive Interest Rates</div>
      </div>
      <div class="col">
        <img src="https://www.mahindrafinance.com/images/MFcarloan/features4.svg" alt="logo"><br><br>
           <div>100% Showroom funding</div>
      </div>

    </div> -->


    <!-- flipping details -->
   <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
        <link
          href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="homecomp.component.scss" />
        <title>Flipping Cards</title>
      </head>
      <body>
        <section class="section-plans" id="section-plans">
          <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary" style="margin-bottom: 50px;">
            <u><i> Features And Benefits</i></u>
            </h2>
            
          </div>
          
          <div class="row" >
            <div class="col-1-of-3"  style="height: 200px;">
              <div class="card">
                <div class="card__side card__side--front-1">
                  <div class="card__title card__title--1">
                    <!-- <i class="fas fa-paper-plane"></i> -->
                    <img style="width: 40%;" src="https://www.mahindrafinance.com/images/MFcarloan/features1.svg" alt="logo"><br><br>
                    <h6 style="font-size: 25px;font-weight: bold;">Easy Loan application Process</h6>
                  </div>
    
                  <div class="card__details">
                    <ul>
                      <li>Simple and quick loan procedure so your car loan is sanctioned in no time</li>
                     
                    </ul>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Apply for a loan today and experience a quick and easy loan application process with our simple and straightforward online application process.</p>
                     
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-2">
                  <div class="card__title card__title--2">
                    <!-- <i class="fas fa-plane"></i> -->
                    <img style="width: 40%;"src="https://www.mahindrafinance.com/images/MFcarloan/features2.svg" alt="logo"><br><br>
                    <h6 style="font-size: 25px;font-weight: bold;">Minimul Documentation</h6>
                  </div>
    
                  <div class="card__details">
                    <ul>
                      <li>Time saving process for you!!</li>
                     
                    </ul>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">A valid PANCARD Number and proof of income are the minimal documentation required for a car loan application.</p>
                    
                    </div>
                    <!-- <a href="#popup" class="btn btn--white">Select</a> -->
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-3">
                  <div class="card__title card__title--3">
                    <img style="width: 40%;"src="https://www.mahindrafinance.com/images/MFcarloan/features3.svg" alt="logo"><br><br>
                    <h6 style="font-size: 25px;font-weight: bold;">Attractive Interest Rates</h6>
                  </div>
    
                  <div class="card__details">
                    <ul>
                      <li>so that you can make your dream of owning of a car come true...</li>
                      
                    </ul>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                  <div class="card__cta">
                    <div class="card__price-box">
                      <p class="card__price-only">Enjoy low interest rates on your car loan and drive off in your dream car today!</p>
                      
                    </div>
                    <!-- <a href="#popup" class="btn btn--white">Select</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn btn--green">Get Started</a>
          </div> -->
        </section>
      </body>
    </html>