<!-- <div class="example-container"> -->
    <form [formGroup]="Empregister" (ngSubmit)="HandleSubmit()">
        <mat-stepper [linear]="isLinear" #stepper labelPosition="bottom">
            <!-- for each next step that form Data will be stored in the given form -->
            <mat-step [stepControl]="customerform">

                <!-- 1st form here -->
                <div formGroupName="customerdetails">
                    <!-- label for Each form will be displayed here -->
                    <ng-template matStepLabel>Personal Details</ng-template>
                        <!-- <p> -->
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>First Name</mat-label> -->
                            <input matInput formControlName="customerFirstName" required placeholder="First Name">
                        </mat-form-field>

                        
                    
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Last Name</mat-label> -->
                            <input matInput formControlName="customerLastName" required placeholder="Last Name">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Middle Name</mat-label> -->
                            <input matInput formControlName="customerMiddleName" required placeholder="Middle Name">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Mobile No:</mat-label> -->
                            <input matInput formControlName="customerMobileNumber" required placeholder="Mobile Number">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Additional Mobile No:</mat-label> -->
                            <input matInput formControlName="customerAdditionalMobileNumber" required placeholder="Alt Mobile Number">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>PanCard</mat-label> -->
                            <input matInput formControlName="customerPanCard" required placeholder="PAN Number">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>AadharCard</mat-label> -->
                            <input matInput formControlName="customerAadharCard" required placeholder="Aadhar Number">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Date of Birth</mat-label> -->
                            <input type="date" matInput formControlName="customerDateOfBirth" required placeholder="Date of Birth">
                        </mat-form-field>

                        <label>Gender: </label>
                        <mat-radio-group formControlName="customerGender">
                            <mat-radio-button value="Male">Male</mat-radio-button>
                            <mat-radio-button value="Female">Female</mat-radio-button>
                        </mat-radio-group>
                          <br>
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Email</mat-label> -->
                            <input matInput formControlName="customerEmail" required placeholder="Email">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Qualification</mat-label> -->
                            <input matInput formControlName="customerQualification" required placeholder="Qualification">
                            <mat-hint>Ex:BE,BA,MBA,B-Tech,B-com</mat-hint>
                        </mat-form-field>
                        

                        <mat-form-field appearance="outline">
                            <!-- <mat-label>CIBIL score</mat-label> -->
                            <input matInput formControlName="customerCibilScore" required placeholder="CIBIL score">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>Loan Status</mat-label> -->
                             <input matInput formControlName="customerLoanAmountRequired" required placeholder="Required Loan Amount">
                        </mat-form-field>
                    
                    <div>
                        <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
                    </div>
                </div>

            </mat-step>

            <!-- 2nd form here -->

            <mat-step [stepControl]="addressdetailsform" label="Fill out contact info">
                <div formGroupName="customerAddress">
                    <ng-template matStepLabel>Address Details</ng-template>
                    <h2>Local Address</h2>

                    <mat-form-field appearance="outline">
                        <!-- <mat-label>State</mat-label> -->
                        <input matInput formControlName="localState" required placeholder="State">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <!-- <mat-label>District</mat-label> -->
                        <input matInput formControlName="localDistrict" required placeholder="District">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <!-- <mat-label>City Name</mat-label> -->
                        <input matInput formControlName="localCityName" required placeholder="City">
                    </mat-form-field> 

                    <mat-form-field appearance="outline">
                        <!-- <mat-label>Area Name</mat-label> -->
                        <input matInput formControlName="localAreaName" required placeholder="Area">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>Pincode</mat-label> -->
                        <input matInput formControlName="localPincode" required placeholder="Pincode">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>House No:</mat-label> -->
                        <input matInput formControlName="localHouseNumber" required placeholder="House or Flat No.">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>Street</mat-label> -->
                        <input matInput formControlName="localStreetName" required placeholder="Street or Landmark">
                    </mat-form-field>

                    <h2>Permanent Address</h2>    <!--  <input type="checkbox" (click)="fillinfo()" value="AUTOFILL"><br><br> -->

                    <mat-form-field>
                        <!-- <mat-label>State</mat-label> -->
                        <input matInput formControlName="permanentState" required placeholder="State">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>District</mat-label> -->
                        <input matInput formControlName="permanentDistrict" required placeholder="District">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>City Name</mat-label> -->
                        <input matInput formControlName="permanentCityName" required placeholder="City">
                    </mat-form-field>

                    
                    <mat-form-field>
                        <!-- <mat-label>Area Name</mat-label> -->
                        <input matInput formControlName="permanentAreaName" required placeholder="Area">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>Pincode</mat-label> -->
                        <input matInput formControlName="permanentPincode" required placeholder="Pincode">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>House No:</mat-label> -->
                        <input matInput formControlName="permanentHouseNumber" required placeholder="House or Flat No.">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-label>Street</mat-label> -->
                        <input matInput formControlName="permanentStreetName" required placeholder="Street or Landmark">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                        <!-- <button (click)="goBack(stepper)" type="button">Back</button>  |
                        <button (click)="goForward(stepper)" type="button">Next</button> -->
                    </div>
                </div>
            </mat-step>

            <!-- 3rdd here -->
            <mat-step [stepControl]="professionDetailsform" label="Profession Details">
                <div formGroupName="customerProfession">
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Type</mat-label> -->
                        <input matInput formControlName="professionType" required placeholder="Profession Type">
                        <mat-hint>Ex:Farmer,Corporate Employee,Self-Emp</mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Monthly Income</mat-label> -->
                        <input matInput formControlName="professionMonthlyIncome" required placeholder="Monthly Income">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Designation</mat-label> -->
                        <input matInput formControlName="professionDesignation" required placeholder="Designation">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </div>
            </mat-step>
            <!-- 4th here -->
            <mat-step [stepControl]="bankdetailsform" label="Bank Details">
                <div formGroupName="customerBankDetails">
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Account No</mat-label> -->
                        <input matInput formControlName="customerBankAccountNumber" required placeholder=" Customer Account Number">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Bank Name</mat-label> -->
                        <input matInput formControlName="customerBankName" required placeholder=" Customer Bank Name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Branch</mat-label> -->
                        <input matInput formControlName="customerBankBranchName" required placeholder="Customer Branch Name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>IFSC code</mat-label> -->
                        <input matInput formControlName="customerBankIfscNumber" required placeholder="IFSC code">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </div>
            </mat-step>
            <!-- 5t here -->
            <mat-step [stepControl]="vehicleDetailsform" label="Vehicle Details">
                <div formGroupName="customerVehicleInformation">
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Model</mat-label> -->
                        <input matInput formControlName="customerVehicleModel" required placeholder="Vehicle Model">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Model</mat-label> -->
                        <input matInput formControlName="customerVehicleChassisNumber" required placeholder="Vehicle Model">
                    </mat-form-field>


                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Model</mat-label> -->
                        <input matInput formControlName="customerVehiclePrice" required placeholder="Vehicle Price">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </div>
            </mat-step>

            <!-- 6th here -->
            <mat-step [stepControl]="dealerDetailsform" label="Dealer Details">
                <div formGroupName="customerDealer">
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Name</mat-label> -->
                        <input matInput formControlName="dealerName" required placeholder="Name of Dealer">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Address</mat-label> -->
                        <input matInput formControlName="dealerAddress" required placeholder="Full Address">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Account No:</mat-label> -->
                        <input matInput formControlName="dealerBankAccountNumber" required placeholder="Account Number">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Bank Name</mat-label> -->
                        <input matInput formControlName="dealerBankName" required placeholder="Bank Name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>Branch</mat-label> -->
                        <input matInput formControlName="dealerBankBranchName" required placeholder="Branch Name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <!-- <mat-label>IFSC</mat-label> -->
                        <input matInput formControlName="dealerBankIfscNumber" required placeholder="IFSC code">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                    </div>
                </div>
            </mat-step>

            <!-- 7th -->
            <mat-step label="Documents Details">
                <!-- <div formGroupName="allDocuments"> -->

                <div class="mb-3">
                    <label for="exampleInputName">PanCard : </label>
                    <input style="margin-left:10px;" type="file" (change)="onselectfile1($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName">Income Proof : </label>
                    <input style="margin-left:10px;"type="file" (change)="onselectfile2($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName">Photo : </label>
                    <input style="margin-left:10px;"type="file" class="file-input" (change)="onselectfile3($event)" #fileUpload>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName">AadharCard : </label>
                    <input style="margin-left:10px;"type="file" class="file-input" (change)="onselectfile4($event)" #fileUpload>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName">Signature : </label>
                    <input style="margin-left:10px;" type="file" class="file-input" (change)="onselectfile5($event)" #fileUpload>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName">Bank Passbook : </label>
                    <input style="margin-left:10px;"type="file" class="file-input" (change)="onselectfile6($event)" #fileUpload>
                </div>
                <br><br><br>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                    <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
                </div>
                <!-- </div> -->
            </mat-step>
            <mat-step label="ALL Details">

                <mat-list>
                    <mat-list-item> <strong>First Name:</strong> {{ this.Empregister.value.customerdetails.customerFirstName}}</mat-list-item>
                    <mat-list-item> <strong>Middle Name:</strong> {{ this.Empregister.value.customerdetails.customerMiddleName}}</mat-list-item>
                    <mat-list-item> <strong>Last Name:</strong> {{ this.Empregister.value.customerdetails.customerLastName}}</mat-list-item>
                    <mat-list-item> <strong>Mobile Number:</strong> {{ this.Empregister.value.customerdetails.customerMobileNumber}}</mat-list-item>
                    <mat-list-item> <strong>Additional Mobile Number:</strong> {{this.Empregister.value.customerdetails.customerAdditionalMobileNumber }}</mat-list-item>
                    <mat-list-item> <strong>PAN Number:</strong> {{ this.Empregister.value.customerdetails.customerPanCard}}</mat-list-item>
                    <mat-list-item> <strong>Aadhar Number:</strong> {{ this.Empregister.value.customerdetails.customerAadharCard}}</mat-list-item>
                    <mat-list-item> <strong>Birth Date:</strong> {{ this.Empregister.value.customerdetails.customerDateOfBirth}}</mat-list-item>
                    <mat-list-item> <strong>Email Id:</strong> {{ this.Empregister.value.customerdetails.customerEmail}}</mat-list-item>
                    <mat-list-item> <strong>Qualifications:</strong> {{ this.Empregister.value.customerdetails.customerQualification}}</mat-list-item>
                    <mat-list-item> <strong>CIBIL Score:</strong> {{ this.Empregister.value.customerdetails.customerCibilScore}}</mat-list-item>
                    <mat-list-item> <strong>Loan Required:</strong> {{ this.Empregister.value.customerdetails.customerLoanAmountRequired}}</mat-list-item>
                <br><h2>Address Details</h2>
                    <mat-list-item> <strong>State:</strong> {{ this.Empregister.value.customerAddress.localState}}</mat-list-item>
                    <mat-list-item> <strong>District:</strong> {{ this.Empregister.value.customerAddress.localDistrict}}</mat-list-item>
                    <mat-list-item> <strong>City:</strong> {{ this.Empregister.value.customerAddress.localCityName}}</mat-list-item>
                    <mat-list-item> <strong>Area:</strong> {{ this.Empregister.value.customerAddress.localAreaName}}</mat-list-item>
                    <mat-list-item> <strong>Street:</strong> {{ this.Empregister.value.customerAddress.localStreetName}}</mat-list-item>
                    <mat-list-item> <strong>House No:</strong> {{ this.Empregister.value.customerAddress.localHouseNumber}}</mat-list-item>
                    <mat-list-item> <strong>Pin:</strong> {{ this.Empregister.value.customerAddress.localPincode}}</mat-list-item>
                 <br><h2>Profession Details</h2>
                    <mat-list-item> <strong>Type:</strong> {{ this.Empregister.value.customerProfession.professionType}}</mat-list-item>
                    <mat-list-item> <strong>Monthly Income:</strong> {{ this.Empregister.value.customerProfession.professionMonthlyIncome}}</mat-list-item>
                    <mat-list-item> <strong>Designation:</strong> {{ this.Empregister.value.customerProfession.professionDesignation}}</mat-list-item>
                <br><h2>Bank Details</h2>
                    <mat-list-item> <strong>Bank Name:</strong> {{ this.Empregister.value.customerBankDetails.customerBankName}}</mat-list-item>
                    <mat-list-item> <strong>Branch:</strong> {{ this.Empregister.value.customerBankDetails.customerBankBranchName}}</mat-list-item>
                    <mat-list-item> <strong>Account No:</strong> {{ this.Empregister.value.customerBankDetails.customerBankAccountNumber}}</mat-list-item>
                    <mat-list-item> <strong>IFSC:</strong> {{ this.Empregister.value.customerBankDetails.customerBankIfscNumber}}</mat-list-item>
                <br><h2>Vehicle Details</h2>
                    <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerVehicleInformation.customerVehicleModel}}</mat-list-item>
                    <mat-list-item> <strong>Price:</strong> {{ this.Empregister.value.customerVehicleInformation.customerVehiclePrice}}</mat-list-item>
                <br><h2>Dealer Details</h2>
                <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerDealer.dealerName}}</mat-list-item>
                <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerDealer.dealerAddress}}</mat-list-item>
                <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerDealer.dealerBankName}}</mat-list-item>
                <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerDealer.dealerBankBranchName}}</mat-list-item>
                <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerDealer.dealerBankAccountNumber}}</mat-list-item>
                <mat-list-item> <strong>Model:</strong> {{ this.Empregister.value.customerDealer.dealerBankIfscNumber}}</mat-list-item>                
                </mat-list>
                <br><br><br>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
<!-- </div> -->