

// .example-container {
//     border: 1px solid black;
//     margin: 10px;
//   }
mat-form-field {
    // margin-right: 40px;
    margin-left: -20px;
    padding: 30px;
  }

p{
   padding: 40px;
}
  