<table class="table">
    <thead class="thead-dark">
      <tr>
        <th  style="font-weight: 900;color: rgb(0, 251, 255);"scope="col">Customer First Name</th>
        <th  style="font-weight: 900;color: rgb(0, 251, 255);"scope="col">Customer Middle Name</th>
        <th  style="font-weight: 900;color: rgb(0, 234, 255);"scope="col">Customer Last Name</th>
        <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">Pancard</th>
        <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">Adhar Number</th>
        <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">Mobile Number</th>
        <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">Email ID</th>
        <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">CIBIL Score</th>
        <!-- <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">CIBIL Status</th> -->
        <!-- <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">Check CIBIL</th> -->
        <th  style="font-weight: 900;color: rgb(0, 221, 255);"scope="col">Form Fill up</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ca of customerapplications">
        <th scope="row">{{ca.customerFirstName}}</th>
        <td>{{ca.customerMiddleName}}</td>
        <td>{{ca.customerLastName}}</td>
         <td>{{ca.customerPanCard}}</td>
         <td>{{ca.customerAadharCard}}</td>
        <td>{{ca.customerMobileNumber}}</td>
        <td>{{ca.customerEmail}}</td>
        <td>{{ca.customerCibilScore}}</td>  
        <!-- <td> <i class="fa fa-credit-card" style="font-size:25px;color:red;cursor: pointer;" ></i></td> -->
        <td><i class="fa fa-id-card" style="font-size:24px;cursor: pointer;"(click)="onclicksinglecustomer(ca.customerId)"></i></td>
      </tr>
     
    </tbody>
  </table>