
<section class="h-100 h-custom gradient-custom-2 ">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                  <div class="card-body p-0">
                      <div class="glowBox">
                          <h4 class="title" style="font-size: 30px;margin-left: 40px;margin-top: 15px;font-weight: 900;color: rgb(57, 50, 50);">
                              Loan Disbursement Form !!</h4>
                      </div>
                      <div class="row g-0">

                        <form [formGroup]="loandisburseform" (ngSubmit)="disburseloan()">
                                                    <div class="col bg-indigo text-white">
                              <div class="p-5">
                              
                                      <div class="row" style="border: black;">
                                          <div class="col">
                                              <div class="row" style="padding: 10px;">
                                                  <div class="col-md-9 mb-4 pb-4">

                                                      <div class="form-outline" style="padding: 15px;">
                                                          <label class="form-label" for="form3Examplev2"
                                                              style="color: black;">Customer ID :</label>
                                                          <input type="text" id="form3Examplev2"
                                                              value="{{loandisbusrecustomer.customerId}}"
                                                              class="form-control form-control-lg" readonly />
                                                      </div> 

                                                      <div class="form-outline" style="padding: 15px;">
                                                          <label class="form-label" for="form3Examplev2"
                                                              style="color: black;">Customer First Name : </label>
                                                          <input type="text" id="form3Examplev2"
                                                           value="{{loandisbusrecustomer.customerFirstName}}"
                                                              class="form-control form-control-lg" readonly  />
                                                      </div>

                                                      <div class="form-outline" style="padding: 15px;">
                                                          <label class="form-label" for="form3Examplev2"
                                                              style="color: black;">Customer Middle Name : </label>
                                                          <input type="text" id="form3Examplev2"
                                                           value="{{loandisbusrecustomer.customerMiddleName}}"
                                                              class="form-control form-control-lg" readonly  />
                                                      </div>
                                                     
                                                      <div class="form-outline" style="padding: 15px;">
                                                          <label class="form-label" for="form3Examplev2"
                                                              style="color: black;">Customer Last Name : </label>
                                                          <input type="text" id="form3Examplev2"
                                                           value="{{loandisbusrecustomer.customerLastName}}"
                                                              class="form-control form-control-lg" readonly  />
                                                      </div>

                                                      <div class="form-outline" style="padding: 15px;">
                                                        <label class="form-label" for="form3Examplev2"
                                                            style="color: black;">Loan Amount Sanctioned  : </label>
                                                        <input type="text" id="form3Examplev2"
                                                         value="{{loandisbusrecustomer.customerSanctionLetter.loanAmountSanctioned}}"
                                                            class="form-control form-control-lg" readonly  />
                                                    </div>
                                               
                                                    <div class="form-outline" style="padding: 15px;">
                                                      <label class="form-label" for="form3Examplev2"
                                                          style="color: black;">Dealer Bank IFSC Number : </label>
                                                      <input type="text" id="form3Examplev2"
                                                       formControlName="dealerBankIfscNumber"
                                                          class="form-control form-control-lg"/>
                                                  </div>
                                                  <div class="form-outline" style="padding: 15px;">
                                                    <label class="form-label" for="form3Examplev2"
                                                        style="color: black;">Payment Status : </label>
                                                    <input type="text" id="form3Examplev2"
                                                     formControlName="paymentStatus"
                                                        class="form-control form-control-lg"/>
                                                </div>
                                                  </div>
                                              </div>

                                          </div>
                                          <div class="col">
                                              <div class="row" style="padding: 10px;">
                                                  <div class="col-md-9 mb-4 pb-4">

                                                      
                                                      <div class="form-outline" style="padding: 15px;">
                                                        <label class="form-label" for="form3Examplev2"
                                                            style="color: black;">Monthly EMI : </label>
                                                        <input type="text" id="form3Examplev2"
                                                         value="{{loandisbusrecustomer.customerSanctionLetter.monthlyEmiAmount}}"
                                                            class="form-control form-control-lg" readonly  />
                                                    </div>

                                                      <div class="form-outline" style="padding: 15px;">
                                                          <label class="form-label" for="form3Examplev2"
                                                              style="color: black;">Rate Of Interest : </label>
                                                          <input type="text" id="form3Examplev2"
                                                           value="{{loandisbusrecustomer.customerSanctionLetter.rateOfInterest}}"
                                                              class="form-control form-control-lg" readonly  />
                                                      </div>

                                                      <div class="form-outline" style="padding: 15px;">
                                                          <label class="form-label" for="form3Examplev2"
                                                              style="color: black;">Transfered Amount : </label>
                                                          <input type="number" id="form3Examplev2"
                                                           formControlName="transferedAmount"
                                                              class="form-control form-control-lg"/>
                                                      </div>

                                                      <div class="form-outline" style="padding: 15px;">
                                                        <label class="form-label" for="form3Examplev2"
                                                            style="color: black;">Amount Paid Date : </label>
                                                        <input type="date" id="form3Examplev2"
                                                         formControlName="amountPaidDate"
                                                            class="form-control form-control-lg"/>
                                                      </div>
                                                     
                                                    <div class="form-outline" style="padding: 15px;">
                                                      <label class="form-label" for="form3Examplev2"
                                                          style="color: black;">Dealer Bank Acc. Number : </label>
                                                      <input type="number" id="form3Examplev2"
                                                       formControlName="dealerBankAccountNumber"
                                                          class="form-control form-control-lg"/>
                                                  </div>

                                                  <div class="form-outline" style="padding: 15px;">
                                                    <label class="form-label" for="form3Examplev2"
                                                        style="color: black;">Dealer Bank Name : </label>
                                                    <input type="text" id="form3Examplev2"
                                                     formControlName="dealerBankName"
                                                        class="form-control form-control-lg"/>
                                                </div>

                                               
                                              


                                                      

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
 
                                      <button style="margin-left: 20px;" class="btn btn-success"
                                          type="submit">Disurse Loan</button>
                            

                              </div>

                          </div>
                        </form>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>